
<% user_info = @user_info %>
<div><img src="<%=user_info%>" width="100px" height="100px"></div>


<div id="" class="">
  <div id="u125" class="ax_default box_1">
    <div id="u125_div" class=""></div>
  </div>

  <!-- Unnamed (Rectangle) -->
  <div id="u126" class="ax_default heading_1">
    <div id="u126_div" class=""></div>
    <div id="u126_text" class="text ">
      <p><span>无法提交</span></p>
    </div>
  </div>

  <!-- Unnamed (Rectangle) -->
  <div id="u127" class="ax_default heading_1">
    <div id="u127_div" class=""></div>
    <div id="u127_text" class="text ">
      <p><span>我的奖励</span></p>
    </div>
  </div>

  <!-- Unnamed (Rectangle) -->
  <div id="u128" class="ax_default heading_1">
    <div id="u128_div" class=""></div>
    <div id="u128_text" class="text ">
      <p><span>返现规则</span></p>
    </div>
  </div>

  <!-- Unnamed (Rectangle) -->
  <div id="u129" class="ax_default heading_1">
    <div id="u129_div" class=""></div>
    <div id="u129_text" class="text ">
      <p><span>我的奖励</span></p>
    </div>
  </div>

  <!-- Unnamed (Image) -->
  <div id="u130" class="ax_default image">
    <img id="u130_img" class="img " src=""/>
  </div>

  <!-- Unnamed (Rectangle) -->
  <div id="u131" class="ax_default heading_1">
    <div id="u131_div" class=""></div>
    <div id="u131_text" class="text ">
      <p><span>头像</span></p>
    </div>
  </div>

  <!-- Unnamed (Rectangle) -->
  <div id="u132" class="ax_default heading_3">
    <div id="u132_div" class=""></div>
    <div id="u132_text" class="text ">
      <p><span>订单号</span></p>
    </div>
  </div>

  <!-- Unnamed (Rectangle) -->
  <div id="u133" class="ax_default heading_3">
    <div id="u133_div" class=""></div>
    <div id="u133_text" class="text ">
      <p><span>状态</span></p>
    </div>
  </div>

  <!-- Unnamed (Rectangle) -->
  <div id="u134" class="ax_default heading_3">
    <div id="u134_div" class=""></div>
    <div id="u134_text" class="text ">
      <p><span>时间</span></p>
    </div>
  </div>

  <!-- Unnamed (Rectangle) -->
  <div id="u135" class="ax_default heading_3">
    <div id="u135_div" class=""></div>
    <div id="u135_text" class="text ">
      <p><span>12345678913206</span></p>
    </div>
  </div>

  <!-- Unnamed (Rectangle) -->
  <div id="u136" class="ax_default heading_3">
    <div id="u136_div" class=""></div>
    <div id="u136_text" class="text ">
      <p><span>审核中</span></p>
    </div>
  </div>

  <!-- Unnamed (Rectangle) -->
  <div id="u137" class="ax_default heading_3">
    <div id="u137_div" class=""></div>
    <div id="u137_text" class="text ">
      <p><span>20180717</span></p>
    </div>
  </div>

  <!-- Unnamed (Rectangle) -->
  <div id="u138" class="ax_default heading_3">
    <div id="u138_div" class=""></div>
    <div id="u138_text" class="text ">
      <p><span>渠道</span></p>
    </div>
  </div>

  <!-- Unnamed (Rectangle) -->
  <div id="u139" class="ax_default heading_3">
    <div id="u139_div" class=""></div>
    <div id="u139_text" class="text ">
      <p><span>天猫</span></p>
    </div>
  </div>

  <!-- Unnamed (Rectangle) -->
  <div id="u140" class="ax_default heading_3">
    <div id="u140_div" class=""></div>
    <div id="u140_text" class="text ">
      <p><span>12345678913206</span></p>
    </div>
  </div>

  <!-- Unnamed (Rectangle) -->
  <div id="u141" class="ax_default heading_3">
    <div id="u141_div" class=""></div>
    <div id="u141_text" class="text ">
      <p><span>已返现</span></p>
    </div>
  </div>

  <!-- Unnamed (Rectangle) -->
  <div id="u142" class="ax_default heading_3">
    <div id="u142_div" class=""></div>
    <div id="u142_text" class="text ">
      <p><span>20180717</span></p>
    </div>
  </div>

  <!-- Unnamed (Rectangle) -->
  <div id="u143" class="ax_default heading_3">
    <div id="u143_div" class=""></div>
    <div id="u143_text" class="text ">
      <p><span>天猫</span></p>
    </div>
  </div>

  <!-- Unnamed (Rectangle) -->
  <div id="u144" class="ax_default heading_3">
    <div id="u144_div" class=""></div>
    <div id="u144_text" class="text ">
      <p><span>12345678913206</span></p>
    </div>
  </div>

  <!-- Unnamed (Rectangle) -->
  <div id="u145" class="ax_default heading_3">
    <div id="u145_div" class=""></div>
    <div id="u145_text" class="text ">
      <p><span>审核失败</span></p><p><span>请联系客服</span></p>
    </div>
  </div>

  <!-- Unnamed (Rectangle) -->
  <div id="u146" class="ax_default heading_3">
    <div id="u146_div" class=""></div>
    <div id="u146_text" class="text ">
      <p><span>20180717</span></p>
    </div>
  </div>

  <!-- Unnamed (Rectangle) -->
  <div id="u147" class="ax_default heading_3">
    <div id="u147_div" class=""></div>
    <div id="u147_text" class="text ">
      <p><span>天猫</span></p>
    </div>
  </div>
</div>